<header>
  <nav>
    <ul>
      <li><a href="">Menu</a></li>
      <li><a href="">Welcome</a></li>
      <li><a href="">Portfolio</a></li>
      <li><a href="">Blog</a></li>
    </ul>
    <div>Uche Chilaka</div>
  </nav>
</header>
<main>
  <div class="inner">
  <!-- @TODO:  -->
  <h1>My name is Uche,<br /> and I love to make things</h1>
  <h3>I'm obsessively driven...</h3>
  <p>...to tinker and learn new things. With all the great tech out there to help, the struggle to stay focused can be daunting - but all said, the payoff when I deliver something useful makes the journey (and required serial effort in focus) quite rewarding.</p>
  <button>View My Work</button>    
  </div>
</main>
<footer>
  <section>
    <ul class="social-links" role="navigation">
      <li><a href=""><i class="fab fa-github"></i></a></li>
      <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
      <li><a href=""><i class="fab fa-twitter"></i></a></li>
    </ul>
    &copy;<span><%= current_year ||= '2020' %></span> Uche Chilaka
  </section>
</footer>