body {
  display: grid;
  height: 100vh;
  grid-template-areas: ". header ." ". body ." ". footer .";
  grid-template-rows: 10vh 1fr minmax(15vh, 150px);
  grid-template-columns: 1fr minmax(80vw, 1000px) 1fr;
}

body header {
  grid-area: header;
}

body header nav {
  min-height: 80px;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
  border-bottom: 1px solid #e8e8e8;
}

body header nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body header nav ul li {
  margin: 0;
}

body header nav ul li:first-of-type a {
  padding-left: 2rem;
}

@media screen and (min-width: 481px) {
  body header nav ul li:first-of-type a {
    display: none;
  }
}

body header nav ul li > a {
  box-sizing: border-box;
  font-weight: bold;
  color: #2a2a2a;
  padding: 1rem;
}

body header nav ul li > a:hover {
  color: #2a2a2a;
  text-decoration: underline;
}

body main {
  grid-area: body;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body main .inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 460px;
  width: 50vw;
}

body footer {
  background-color: #e8e8e8;
  color: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  min-height: 150px;
}

body footer > section {
  padding: 1rem;
}

body footer > section ul {
  list-style-type: none;
}

body footer > section > ul.social-links[role=navigation] {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

body footer > section > ul.social-links[role=navigation] li {
  margin: 0 0.5rem;
}

body footer > section > ul.social-links[role=navigation] li a > i {
  color: gray;
  font-size: 1.5rem;
}

body footer > section > ul.social-links[role=navigation] li:last-of-type {
  margin-right: 0;
}
