// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  display: grid;
  height: 100vh;
  grid-template-areas:  ". header ."
                        ". body ."
                        ". footer .";
  grid-template-rows: 48px 1fr 4rem;
  grid-template-columns: 1fr minmax(80vw, 1000px) 1fr;

  header {
    grid-area: header;
    min-height: 4rem;
    
    nav {
      height: 48px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-right: 1.5rem;
      background-color: pink;
      
      ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0; padding: 0;
        
        li {
          margin: 0;
          
          &:first-of-type {
            a {
              padding-left: 2rem;
            }
            
            @media screen and (min-width: 481px) {
              a {
                display: none;
              }
            }
          }
          
          &> a {
            box-sizing: border-box;
            padding: 1rem;
            
            &:hover {
              background-color: yellow;
            }
          }
        }
      }
    }
  }

  main {
    grid-area: body;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    min-height: 2rem;
  }
}

